body {
  font-family: 'Josefin Sans', sans-serif;
  background-color: #FFF6E5;
  font-size: 10px;
}

header{
  padding-top: 33px;
  margin-left: 28px;
  margin-right: 28px;
}

.navbar{
  display: none;
}

.logo img{
  width: 35px;
  height: 24px;
}

.logo{
  display: inline-block;
}

.burgerMenu{
  position: absolute;
  right: 20px;
}

main{
  clear: both;
}

.home{
margin: 28px;
display: flex;
justify-content: center;
flex-direction: column;
}

.topper{
  text-align: center;
}

.contactForm{
  margin-left: 10%;
  margin-right: 10%;
}

.girl{
  margin-right: 20%;
  margin-left: 20%;
  display: flex;
  justify-content: center;
}

.redGirl{
  display: flex;
  justify-content: center;
  align-self: center;
}

.roles p{
  margin-left: 28px;
  margin-right: 28px;
  padding: 10px;
}

.survey p{
  padding-bottom: 10px;
}

.baby{
  display: none;
}

.contactBen{
  display: none;
}

.oggie-lg{
  display: none;
}

.input{
  display: flex;
  justify-content: center;
  flex-direction: column;
  }

.benPic1{
align-self: center;
padding-bottom: 10px;
}

.paint{
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-parent{
	display: flex;
	justify-content: center;
	flex-direction: column;
}
.benPic2{
	padding-bottom: 30px;
}

.dog{
	display: flex;
	justify-content: center;
}

.oggie img{
  margin-right: 20%;
  margin-left: 20%;
  display: flex;
  justify-content: center;
  margin-bottom: 10%;
}

.benPic-lg{
	display: flex;
	justify-content: center;
	padding-bottom: 30px;
}

p{
  font-size: .9rem;
  line-height: 155%;
}

h1 {
  font-family: 'Bevan', cursive;
  font-size: 2rem;
  padding-bottom: 10px;
}

h2{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  padding-bottom: 10px;
}

h3{
  font-family: 'Bevan', cursive;
  font-size: 1.3rem;
  padding-bottom: 10px;
}

h4{
  margin-top: 25px;
}

.left{
	margin: 28px;
}

button{
  color: #FF6262;
  background-color: white;
  border: 2px solid #FF6262;
  height: 32px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
  margin-top: 10px;
}

.button{
  color: #FF6262;
  background-color: white;
  border: 2px solid #FF6262;
  height: 32px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
  margin-top: 10px;
}

.label{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1rem;
  font-weight: 600;
  padding-bottom: 10px;
}

textarea{
  width: 90%;
}

.border{
  margin-top: 25px;
  margin-bottom: 25px;
  height: 25px;
  border-top: 3px solid #FF6262;
  border-bottom: 3px solid #FF6262;
}

.project{
  height: 240px;
  text-align: center;
  padding-top: 150px;
  margin-bottom: 25px;
}

.dogapp{
  background-image: url("../images/dogapp.jpg");
  background-size: cover;
  align-self: center;
}

.tunebox{
  background-image: url("../images/tunebox.jpg");
  background-size: cover;
  align-self: center;
}

.busybus{
  background-image: url("../images/busybus.jpg");
  background-size: cover;
  align-self: center;
}

.benPic2{
align-self: center;
}

.benPic3{
align-self: center;
margin-top: 25px;
}

.benPic4{
align-self: center;
margin-bottom: 15px;
}

.about{
  margin-bottom: 25px;
  margin-left: 28px;
  margin-right: 28px;
}

.dog{
  margin-bottom: 25px;
}

.bold{
  font-weight: 700;
  text-decoration: underline;
}

.bold a{
  color: black;
}

footer{
  text-align: center;
  line-height: 250%;
  margin-bottom: 20px;
  font-size: 1rem;
}

/* Curtain Menu*/
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

.persona-mobile{
  display: block;
}

.persona-desktop{
  display: none;
}

.flow-mobile{
  display: block;
}

.flow-desktop{
  display: none;
}

.sketch-mobile{
  display: block;
}

.sketch-desktop{
  display: none;
}

.prototype-mobile{
  display: block;
}

.prototype-desktop{
  display: none;
}

.input{
  width: 70%;
  height: 47px;
  border: 1px solid black;
  margin-bottom: 20px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

/* Tablet Portrait*/
@media only screen and (min-width: 600px) {

}

/* Tablet Landscape*/
@media only screen and (min-width: 712px) {

}

/* Desktop*/
@media only screen and (min-width: 900px) {

  .burgerMenu{
    display: none;
  }

  .navbar{
    display: block;
    float: right;
  }

  .navbar li{
    display: inline-block;
    padding: 10px;
    font-size: 1.2rem;
    color: black
  }

  .home{
  padding-top: 20px;
  margin-right: 20%;
  margin-left: 20%;
  flex-direction: row-reverse;
  }

  .benPic1{
    width: 40%;
  }

  .home h1{
    font-size: 2.5rem;
    margin-bottom: 10px;
    padding-top: 10px;
  }

  .home h2{
    margin-bottom: 10px;
  }

  .home p{
    font-size: 1.2rem;
    margin-bottom: 10px;
  }

  .button{
    font-size: 1rem;
  }

  .intro{
    flex-direction: column;
    margin-right: 30%;
    margin-left: 30%;
    align-items: center;
    text-align: center;
  }

  .left{
    padding-right: 70px;
    width: 66%;
  }

  .paint{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20%;
    margin-left: 20%;
  }

  .paint img{
    width: auto;
  }

  .threeCol{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .project{
    width: 30%;
    margin: 20px;
    height: 200px;
    padding-top: 100px;
  }

  .about-parent{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin-right: 20%;
    margin-left: 20%;
  }

  .about p{
    font-size: 1.5rem;
    margin-top: 25px;
  }

  .about h3{
    display: none;
  }

  .dog{
    margin-right: 20%;
    margin-left: 20%;
    display: flex;
    justify-content: center;
  }

  .dog img{
    width: 60%;
  }

  .footer h3{
    font-size: 2rem;
    line-height: 100%;
  }

  .footer a{
    padding: 40px;
    color: black;
  }

  .bio{
    flex-direction: row;
    margin-right: 5%;
    margin-left: 5%;
  }

  .bio h1{
    text-align: center;
  }

  .bioText{
    flex-direction: column;
    margin-left: 115px;
    margin-right: 115px;
  }

  .baby{
    display: flex;
    float: right;
    height: 100%;
  }

.benPic-lg{
	align-self: flex-start;
}

  /* Tune Box*/

  .girl{
    margin-right: 20%;
    margin-left: 20%;
    display: flex;
    justify-content: center;
  }

  .roles p{
    margin-left: 20%;
    margin-right: 20%;
    font-size: 1.2rem;
    padding: 10px;
  }

  .survey{
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    margin-right: 20%;
  }

  .surveyText{
    display: flex;
    flex-direction: column;
  }

.competitive{
  display: flex;
  flex-direction: column;
}

  .graph{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .pair{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 10px;
  }

  .analysis{
    display: flex;
    flex-direction: row;
  }

  .musicLogo img{
    margin-left: 30px;
  }

  .personaSection{
    display: flex;
    flex-direction: column;
  }

  .personaSection form{
    display: none;
  }

  .persona-mobile{
    display: none;
  }

  .persona-desktop{
    display: block;
  }

  .persona-desktop img{
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .storiesFlows{
    display: flex;
    flex-direction: column;
  }

  .flow-mobile{
    display: none;
  }

  .flow-desktop{
    display: block;
  }

  .flow-desktop img{
    margin: 20px;
  }

  .frames{
    display: flex;
    flex-direction: column;
  }

  .sketch-mobile{
    display: none;
  }

  .sketch-desktop{
    display: block;
  }

  .sketch-desktop img{
    padding: 5px;
  }

  .sketchRow{
    display: flex;
    flex-direction: row;
  }

  .identity{
    display: flex;
    flex-direction: column;
  }

  .identity img{
    justify-content: center;
    margin: 20px;
  }

  .mockups{
    display: flex;
    flex-direction: column;
  }

  .mockupRow{
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .mockupRow img{
    margin-left: 20px;
    margin-right: 20px;
  }

  .mockupRow h4{
    font-size: 1rem;
  }

  .mockElement{
    flex: 1;
  }

  .prototype-mobile{
    display: none;
  }

  .prototype-desktop{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .prototypeRow{
    display: flex;
    flex-direction: row;
  }

  .prototype{
    display: flex;
    flex-direction: column;
  }

  .testing{
    display: flex;
    flex-direction: column;
  }

  .conclusion{
    display: flex;
    flex-direction: column;
  }

  /* Contact */

  .oggie-lg{
    display: block;
  }

  .oggie-lg img{
    margin-right: 60px;
  }

  .oggie{
    display: none;
  }

  .contactBen{
    display: block;
    float: left;
  }

  .contactTop{
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    margin-bottom: 50px;
    justify-content: center;
  }

  .contactForm{
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 5%;
  }

  .topper{
    margin-left: 7%;
    margin-right: 7%;
  }

}
